<%- include('./components/header', {title: Product.name, css: "/css/singleproduct.css"}) %>
  <body>    <div class="Container">
    <table>
      <tr>
        <th>Name:</th>
        <th class="item"><%=Product.name%></th>
      </tr>
      <tr>
        <th>Price:</th>
        <th class="item"><%=Product.price%></th>
      </tr>
      <tr>
        <th>Category:</th>
        <th class="item"><%=Product.category%></th>
      </tr>
    </table>
    <div class="utility"><a href="/"><button>Shop</button></a>
    <a href="/products/<%=Product.name%>/edit"><button>Edit</button></a>
    <form method="POST" action="/products/<%=Product.name%>?_method=DELETE">
      <button type="submit">Delete</button>
    </form>
    </div></div>
  </body>
</html>
